 table.altrowstable {
                          font-family: verdana,arial,sans-serif;
                          font-size:11px;
                          color:#333333;
                          border-width: 1px;
                          border-color: #a9c6c9;
                          border-collapse: collapse;
                      }
table.altrowstable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
table.altrowstable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
.oddrowcolor{
    background-color:#d4e3e5;
}
.evenrowcolor{
    background-color:#c3dde0;
}
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
.column {
    float: left;
    width: 100px;
    height: 600px;
    padding: 20px;
    margin-top: 20px;
}
.column1{
    float:left;
    width: 800px;
    height: 600px;
    padding: 20px;
    margin-top: 20px;
}
.father{
    width: 100%;
    height: 1200px;
}
.son{
    width: 1000px;
    height: 600px;
    position: absolute;
    margin: 10px 20%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.a1:link {background-color:lightblue;}    /* 未访问链接 */
.a1:visited {background-color:lightblue;} /* 已访问链接 */
.a1:hover {background-color:lightblue;}   /* 鼠标移动到链接上 */
 .a1:active {background-color:lightblue;}  /* 鼠标点击时 */